*{
    margin: 0;
    padding: 0;
}

.dearpeer{
    padding: 5px;
    background-color:cornflowerblue;
}

.navigation{
    background-color: gray;
    position: fixed;
    width: 80px;
    height:700px;
}

.not-top-navigation img{
    padding: 30px 10px 0px;
    width: 60px;
}

.navigation p,.navigation h3,.navigation a{
    padding-top: 5px;
    text-align: center;
    font-size: 8px;
}
.user-image,.navigation a{
    align-items: center;
    padding: 10px 10px 0px;
    width: 60px;
}
.user-image h3{
    text-transform: uppercase;
}

.bottom-navigation{
    padding-top: 150px;
}
h1{
    color: red;
}

.homepage,.user,.create-group,.add-member,.group_list, .review-member{
    margin: 5px 0 0 90px;
    
}
.homepage-right{
    margin-right: 0;
}
.homepage-left{
    margin-left: 0;
}

