{% extends 'base.html' %}

{% block content %}
<div class="nav-container">
    <h2>DearPear</h2>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Sign Out</a></li>
                <li><a href="{{url_for('index_admin')}}">Back</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1>Add Subject</h1>
        <form action="{{ url_for('add_subject') }}" method="post" >
            {{ form.hidden_tag() }}
            {{ form.subject.label }} {{ form.subject }}<br><br>
            {{ form.submit }}
    </form>
</div>

{% endblock %}