<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Generator</title>
</head>
<body>
    <h1>New Group</h1>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br>
        <label for="group">Group:</label>
        <input type="text" name="group" id="group" required><br>
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="subject" required><br>
        <input type="submit" value="Submit">
    </form>
    {% if csv_data %}
    <a href="/download_csv">
        <button>Download CSV</button>
    </a>
    {% endif %}
 
    {% if csv_data %}
    <div>
        <h2>Generated CSV:</h2>
        <pre>{{ csv_data }}</pre>
    </div>
    {% endif %}
</body>
</html>