{% extends 'base.html' %}

{% block content %}
<div class="create-group">
    <h1>Create Group</h1>
        <form method="POST">
            <label for="group_name">Group Name:</label>
            <input type="text" name="group_name" id="group_name" required><br>
            <label for="group_leader">Group Leader:</label>
            <input type="text" name="group_leader" id="group_leader" required><br>
            <label for="subject">Subject:</label>
            <input type="text" name="subject" id="subject" required><br>
            <label for="lecturer">Lecturer:</label>
            <input type="text" name="lecturer" id="lecturer" required><br>
            <label for="num_members">Number Of Group Member:</label>
            <input type="number" name="num_members" id="num_members" required><br>
            <input type="submit" href="{{ url_for('member_group') }}" value="Submit">
        </form>
    {% if csv_data %}
    <a href="/admin/download_csv">
        <button>Download CSV</button>
    </a>
    <a href="{{ url_for('member_group') }}">
        Next
    </a>
    {% endif %}    
    {% if csv_data %}
    <div>
        <h2>Generated CSV:</h2>
        <pre>{{ csv_data }}</pre>
    </div>
    {% endif %}
    
    
</div>        
    
{% endblock %}