{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container">
        <header>
            <h1>Welcome to the Peer Review System</h1>
        </header>
        <p>This is the home page.</p>
        <footer>
            <p>&copy; 2024 Peer Review System</p>
        </footer>
        <center>
            <div class = "homepage-navigation">
                <a href="{{ url_for('login_user') }}" class="btn btn-primary" >Login as Student</a><br>
                <a href="{{ url_for('login_admin') }}" class="btn btn-primary" >Login as Lecturer</a><br>
                <a href="{{ url_for('register_user') }}" class="btn btn-secondary">Register as Student</a>
                <a href="{{ url_for('register_lecturer') }}" class="btn btn-secondary">Register as Lecturer</a>
            </div>
        </center>
    </div>
</body>
</html>
`{% endblock %}