{% extends 'base.html' %}

{% block content %}
<div class="nav-container">
    <h2>DearPear</h2>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Sign Out</a></li>
                <li><a href="{{url_for('create_group')}}">Create Group</a></li>
                <li><a href="{{url_for('add_section')}}">Add Section</a></li>
                <li><a href="{{url_for('add_subject')}}">Add Subject</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="username">WELCOME, {{ username }}!!</h1>
    
    <ul>
        {% for one_subjects in subjects %}
            {% for subject in sub %}
                {% if subject in one_subjects %}    
                    <div class="container-subject">
                        <li>
                            <button onclick="showGroups('{{one_subjects}}')" class="dropbtn">{{ one_subjects }}</button>
                        </li>
                            <div id="{{one_subjects}}Groups" class="dropdown-content" style="display: none;">
                                <ul>
                                {% for group in groups %}
                                    {% if group.subject == one_subjects %}
                                        <li>
                                            {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Section: {{ group.lecturer_section }},{{ group.tutorial_section }} , Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }}) - <a href="{{url_for('delete_group', group_name=group.group_name, subject=subject)}}">Delete</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    

    <h3>View Review By Student</h3>
    <div class="scroll-bg">
        <div class="scroll-div">
            <div class="scroll-object">
    <ul>
        {% for review in reviews %}
            {% if review.lecturer == username %}
                <li>
                    {{review.username}} from {{review.subject}}, Mention {{review.member_name_you_review}} that {{review.review}}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
            </div>  
        </div>
    </div>
    </br>
</div>
<script>
    function showGroups(subject) {
        var groupsDiv = document.getElementById(subject + "Groups");
        if (groupsDiv.style.display === "none") {
            groupsDiv.style.display = "block";
        } else {
            groupsDiv.style.display = "none";
        }
    }
      
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
</script>
{% endblock %}