{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('home') }}">Sign Out</a> <a href="{{ url_for('user_review') }}">Make Review</a>
</div>
<div class="container">
    <h1 class="username">WELCOME, {{ username }}!!</h1>
    
    <div class="container-subject">
        <h3>Mini IT Project</h3>
        {% for group in groups %}
            {% if group.subject == "Mini IT Project" and (group.group_leader == username or username in group.member_names) %}
                <li class="group-list">
                    {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                    
                </li>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-subject">
        <h3>Academic English</h3>
        {% for group in groups %}
            {% if group.subject == "Academic English" and (group.group_leader == username or username in group.member_names)%}
                <li class="group-list">
                    {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                </li>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-subject">
        <h3>Introduction To Physics</h3>
        {% for group in groups %}
            {% if group.subject == "Introduction To Physics" and (group.group_leader == username or username in group.member_names)%}
                <li class="group-list">
                    {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                </li>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-subject">
        <h3>Introduction To Digital System</h3>
        {% for group in groups %}
            {% if group.subject == "Introduction To Digital System" and (group.group_leader == username or username in group.member_names)%}
                <li class="group-list">
                    {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                </li>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-subject">
        <h3>Critical Thinking</h3>
            {% for group in groups %}
                {% if group.subject == "Critical Thinking" and (group.group_leader == username or username in group.member_names)%}
                    <li class="group-list">
                        {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                    </li>
                {% endif %}
            {% endfor %}
    </div>

    <div class="container-subject">
        <h3>Mathematics III</h3>
            {% for group in groups %}
                {% if group.subject == "Mathematics III" and (group.group_leader == username or username in group.member_names)%}
                    <li class="group-list">
                        {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                    </li>
                {% endif %}
            {% endfor %}
    </div>


    <h2>View Review From Other Student</h2>
    <div class="scroll-bg">
        <div class="scroll-div">
            <div class="scroll-object">
    <ul>
        {% for review in reviews %}
            
                <li>
                    Someone from {{review.subject}}, Mention <a href="{{url_for('view_person', name=review.member_name_you_review)}}">{{review.member_name_you_review}}</a> that {{review.review}}
                </li>
            
        {% endfor %}
    </ul>
            </div>
        </div>
    </div>
    </br>
</div>

{% endblock %}

