{% extends 'base.html' %}

{% block content %}
<div class="homepage">
    <div class="homepage-left">
        <h1>WELCOME, {{ username }}!!</h1>
        
        {% for subject in ["Mini IT Project", "Academic English", "Introduction To Physics"] %}
            <h3>{{ subject }}: {{ groups_count[subject] }} Groups</h3>
            <ul>
            {% for group in groups %}
                {% if group.subject == subject %}
                    <li>
                        <a href="{{url_for('update_group', group_name=group.group_name)}}">{{ group.group_name }}</a> (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }}) - <a href="{{url_for('delete_group', group_name=group.group_name, subject=subject)}}">Delete</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}


        <h3>Ongoing Review</h3>
        
        <h3>Completed Review</h3>
        </br>

    </div>
</div>

{% endblock %}