{% extends 'base.html' %}

{% block content %}
<div class="nav-container">
    <h2>DearPear</h2>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Sign Out</a></li>
                <li><a href="{{ url_for('user_review') }}">Make Review</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container"action="{{ url_for('index_user') }}" >
    <h1 class="username">WELCOME, {{ username }}!!</h1>
    {{ sub }}
    <div class="container-subject">
        <ul>
            {% for one_subjects in subjects %}
                {% for subject in sub %}
                    {% if subject in one_subjects %}    
                        <h3> {{ subject }} </h3>
                            <ul>
                            {% for group in groups %}
                                {% if one_subjects in group.subject %}
                                    <li>
                                        {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Section: {{ group.lecturer_section }},{{ group.tutorial_section }} , Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }}) - <a href="{{url_for('delete_group', group_name=group.group_name, subject=subject)}}">Delete</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="container-subject">
        <h3>Mini IT Project</h3>
        {% for group in groups %}
            {% if group.subject in "Mini IT Project" and (username in group.group_leader or username in group.member_names) %}
                <li class="group-list">
                    {{ group.group_name }} (Leader: {{ group.group_leader }}, Lecturer: {{ group.lecturer }}, Number of Members: {{ group.number_of_members }}, Member Names: {{ group.member_names }})
                    
                </li>
            {% endif %}
        {% endfor %}
    </div>
    </br>
</div>

{% endblock %}

